@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Poppins:ital,wght@0,300;0,600;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter_menu {
  cursor: pointer;
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  margin: 15px;
}
.filter_menu select,
input {
  border: 1px solid #3EC939;
  outline: none;
  height: 40px;
  padding: 0 5px;
}
.filter_menu input {
  flex: 1;
  margin: 0 10px;
  margin: 10px 5px;
}
