.login_page {
  max-width: 500px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 30px;
  margin: 50px auto;
}
.login_page h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3EC939;
}
.login_page form input,
.login_page form button {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 0 5px;
  outline: #3EC939;
  border: 1px solid #3EC939;
}
.login_page form .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login_page form button {
  width: 150px;
  background: #3EC939;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.login_page form button:hover {
  background: #000;
  color: white;
}
.login_page form a {
  color: #000;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
.login_page form a:hover{
    color: #3EC939;
}
